@font-face {
  font-family: mBlack;
  src: url(../fonts/Merriweather-Black.ttf);
}
@font-face {
  font-family: mBoldItalic;
  src: url(../fonts/Merriweather-BoldItalic.ttf);
}
@font-face {
  font-family: mBold;
  src: url(../fonts/Merriweather-Bold.ttf);
}
@font-face {
  font-family: asapRetular;
  src: url(../fonts/Asap/Asap-Regular.ttf);
}
@font-face {
  font-family: asapBold;
  src: url(../fonts/Asap/Asap-Bold.ttf);
}
@font-face {
  font-family: asapItalic;
  src: url(../fonts/Asap/Asap-Italic.ttf);
}
@font-face {
  font-family: asapBoldItalic;
  src: url(../fonts/Asap/Asap-BoldItalic.ttf);
}
@font-face {
  font-family: chunkfive;
  src: url(../fonts/Chunkfive.otf);
}
/* Master Styles */
@media screen and (max-width: 767px) {
  body {
    background-color: #595959 !important;
    margin: 0;
    padding: 0;
  }
  .course {
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 1.2rem;
    border: 3px solid #595959;
    color: #f4f7f5;
  }
  .course img {
    width: 100px;
    height: 90px;
  }
  .main {
    top: 20rem;
    color: #f4f7f5;
  }
  .fixed {
    position: fixed;
    top: 30rem;
    width: 30%;
  }
  .detail {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: #f4f7f5;
  }
  .vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  .navbar-brand {
    font-size: 3.3rem;
  }
}
@media (max-width: 1500px) and (min-width: 767px) {
  body {
    background-color: #595959 !important;
    margin: 0;
    padding: 0;
  }
  .course {
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 1.2rem;
    border: 3px solid #595959;
    color: #f4f7f5;
  }
  .course img {
    width: 100px;
    height: 90px;
  }
  .main {
    top: 6rem;
  }
  .fixed {
    position: fixed;
    top: 30rem;
    width: 30%;
  }
  .detail {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: #f4f7f5;
  }
  .vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  .navbar-brand {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1500px) {
  body {
    background-color: #595959 !important;
    margin: 0;
    padding: 0;
  }
  .course {
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 1.2rem;
    border: 3px solid #595959;
    color: #f4f7f5;
  }
  .course img {
    width: 100px;
    height: 90px;
  }
  .main {
    top: 6rem;
  }
  .fixed {
    position: fixed;
    top: 20rem;
    width: 30%;
  }
  .detail {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: #f4f7f5;
  }
  .vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  .navbar-brand {
    font-size: 1.3rem;
  }
}
