<div class="contact">
<h1>Feihong Zhao</h1>
<h2>IOS Application Developer</h2>
<h3>Humber College - Web Design and Interactive Media</h3>
<p><i class="cClass">C</i>ame to Canada about two years ago, had no idea what to do with my life back then.
    Graduated from college as a electronic engineer, but not really into hardware, so change to <mark class="bodyMark">Web Design</mark>. </p>
<p>Love and hate <mark class="bodyMark">CODING</mark> at the same time, the feeling about making something working is what I love, the feeling about can't figure out how to make something work is what I hate.</p>
<blockquote>"Life is really simple, but we insist on making it complicated."
    <footer>- Confucius</footer>
</blockquote>

<br>
<details class="button">
    <summary>Contact Me:</summary>
    <section class="googleLink">Email:  peter@gmail.com</section>
    <section class = "googleLink">Phone Number: 666 - 333 - 8888</section>
</details>
</div>